body{
  background-color:pink;
}
h1 {
  color: salmon;
  font-size: 100px;
  font-family: "Lucida Handwriting", cursive;
}

h2 {

  color: white;
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;

}

div {
  height: 200px;
  width: 50%;
  background-color: lavenderblush;
}

p {
  color: black;
  font-size: 30px;


}
