body{
  background-color:pink;
}
h1 {
  color: salmon;
  font-size: 100px;
  font-family: "Lucida Handwriting", cursive;
}

h2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #ff00a7;

  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;

}

<h4 class="center">Black and center-aligned heading</h4>

div {
  height: 200px;
  background-color: lightpink;
  width: 300px;
  border: 15px violet;
  padding: 50px;
  margin: 20px;
}
#box1 {
  position: relative;
  left: 10px;
  border: 3px solid #ff00a7;
}

#box2 {
  position: absolute;
  bottom: 500px
  right: 20;
  width: 200px;
  height: 300px;
  border: 3px solid #ff00a7;

}

h3 {

  color: salmon;
  font-size: 20px;
  text-transform: uppercase;
}

p {

  color: white;
  font-size: 20px;

}
