body{
  background-color:pink;
}
h1 {
  color: salmon;
  font-size: 100px;
}

h2 {

  color: white;
  font-size: 70px;
  font-style: italic;
  font-weight: bolder;

}

div {
  height: 200px;
  width: 50%;
  background-color: lavenderblush;
}
